<div class="pip-checklist-body" [ngStyle]="{ height: ((elements.length + 1) * 48) + 'px'}">
        <div [@fadeIn]="''" [@.disabled]="disableForAnimation" class="pip-checklist-element" *ngFor="let element of elements; let i = index" [scrollContainer]="scrollContainer" pipDrag="true"
            pipDrop="true" forceTouch="true" touchDelay="100" (dragStart)="onDragStart($event, i)" (enter)="onEnter($event, i)"
            (dragStop)="onDragStop($event, i)" (dropSuccess)="onDropSuccess($event, i)">
            <div>
                <button mat-icon-button>
                    <mat-icon>drag_handle</mat-icon>
                </button>
                <mat-checkbox pipDragCancel [checked]="element.checked"></mat-checkbox>
                <input type="text" [(ngModel)]="element.text" pipDragCancel>
                <button pipDragCancel mat-icon-button (click)="deleteElement(i)">
                    <mat-icon>backspace</mat-icon>
                </button>
            </div>
        </div>
    <div class="pip-checklist-element " pipDrop="true" (enter)="onEnter($event, elements.length)" (dropSuccess)="onDropSuccess($event, elements.length)">
        <div>
            <button mat-icon-button class="add-button" (click)="onAdd()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>