:host {
    .pip-composite-element {
        margin: 4px 0;
        .pip-time-range {
            padding-left: 17px;
        }
        .pip-composite-element-body {
            &>div {
                text-align: justify;
                margin: 4px 0px;
            }
        }
    }
}