<div class="pip-composite-body">
    <div *ngFor="let element of elements; let i = index" class="pip-composite-element" pipDrag="true" pipDrop="true" forceTouch="true" touchDelay="100">
        <div class="pip-composite-element-header">
            <button mat-icon-button>
                <mat-icon>drag_handle</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteElement(i)">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <div class="pip-composite-element-body" [ngSwitch]="element.type" pipDragCancel>
            <textarea placeholder="Text" [(ngModel)]="element.text" *ngSwitchCase="elementTypes.TEXT"></textarea>
            <pip-location-edit [locationPos]="element.location" *ngSwitchCase="elementTypes.LOCATION" showInput="true"></pip-location-edit>
            <pip-document-list-edit [documents]="element.documents" *ngSwitchCase="elementTypes.DOCUMENTS" defaultAddIcon="insert_drive_file"></pip-document-list-edit>
            <pip-picture-list-edit [srcs]="element.pictures" *ngSwitchCase="elementTypes.PICTURES" defaultAddIcon="insert_photo"></pip-picture-list-edit>
            <pip-time-range-edit [startDate]="element.startDate" [endDate]="element.endDate" *ngSwitchCase="elementTypes.TIME" ></pip-time-range-edit>
        </div>
    </div>
</div>