<div class="pip-composite-body">
    <div *ngFor="let element of elements" class="pip-composite-element" pipDrag="true" pipDrop="true" forceTouch="true" touchDelay="100">
        <div class="pip-composite-element-header">
            <button mat-icon-button>
                <mat-icon>drag_handle</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <div class="pip-composite-element-body" [ngSwitch]="element.type" pipDragCancel>
            <textarea placeholder="Text" *ngSwitchCase="elementTypes.TEXT"></textarea>
            <pip-location-edit *ngSwitchCase="elementTypes.LOCATION" showInput="true"></pip-location-edit>
            <pip-document-list-edit *ngSwitchCase="elementTypes.DOCUMENTS" defaultAddIcon="insert_drive_file"></pip-document-list-edit>
            <pip-picture-list-edit *ngSwitchCase="elementTypes.PICTURES" defaultAddIcon="insert_photo"></pip-picture-list-edit>
            <pip-time-range-edit *ngSwitchCase="elementTypes.TIME" ></pip-time-range-edit>
        </div>
    </div>
</div>