@import '~@angular/material/theming';
@import '~pip-webui2-themes/src/styles.scss';
@include mat-core();
@mixin composite-mixin($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
     :host {
        border: dashed 2px mat-color($foreground, divider);
        .delete-button {
            color: mat-color($foreground, text);
            background: mat-color($background, card);
            opacity: 0.56;
        }

        &:hover pip-composite {
            background: mat-color($foreground, divider);
        }
    }
}

.unicorn-dark-theme {
    @include composite-mixin($dark-theme);
}

.candy-theme {
    @include composite-mixin($candy-app-theme);
}

.pip-blue-theme {
    @include composite-mixin($pip-blue-theme);
}

.pip-grey-theme {
    @include composite-mixin($pip-grey-theme);
}

.pip-navy-theme {
    @include composite-mixin($pip-navy-theme);
}

.pip-amber-theme {
    @include composite-mixin($pip-amber-theme);
}

.pip-green-theme {
    @include composite-mixin($pip-green-theme);
}

.pip-orange-theme {
    @include composite-mixin($pip-orange-theme);
}

.pip-pink-theme {
    @include composite-mixin($pip-pink-theme);
}

.pip-dark-theme {
    @include composite-mixin($pip-dark-theme);
}

.pip-black-theme {
    @include composite-mixin($pip-black-theme);
}

.bootbarn-warm-theme {
    @include composite-mixin($bootbarn-warm-theme);
}

.bootbarn-cool-theme {
    @include composite-mixin($bootbarn-cool-theme);
}

.bootbarn-mono-theme {
    @include composite-mixin($bootbarn-mono-theme);
}

:host {
    width: 80px;
    height: 80px;
    display: block;
    box-sizing: content-box;
    position: relative;
    .delete-button {
        position: absolute;
        top: 4px;
        right: 4px;
    }
    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
}